@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Poppins:wght@400;600&display=swap');



:root {
  --white: hsl(0, 0%, 100%);
  --black: hsl(0, 0%, 0%);
  --violet: hsl(257, 40%, 49%);
  --soft-magenta: hsl(300, 69%, 71%);
  --headline-font: 'Poppins', sans-serif;
  --theme-font: 'Open Sans', sans-serif;
}

body {
  margin: 0;
  font-family: var(--theme-font);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  min-height: 100vh;
  background-color: var(--violet);
  background-image: url(../public/images/bg-desktop.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

html, body {
  margin: 0;
  padding: 0;
}

@media (max-width: 768px) { 
  body {
    background-image: url(../public/images/bg-mobile.svg);
    background-position: top;
  }
}